*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
:root{
    --primary:#1B4F72;
    --accent:#F18F01;
    --text:#2c3E50;
    --light:#f4f6f8;
    --white:#FFFFFF;
    --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    font-family:var(--font-main);
    color: var(--text);
    line-height:1.6;
    background-color: var(--white);
 
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 20px 5%;
    background-color: var(--primary);
}
.site-header{
    position:sticky;
    top:0;
    z-index:1000;
}